*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Satoshi;
}

/* ==============Start of common class=============== */
html{
    transition: all 1s ease;
}
@font-face {
    font-family: Satoshi;
    src: url(../Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}
@font-face {
    font-family: Satoshi-black;
    src: url(../Fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
}
.container{
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
ul{
    list-style: none;
}
.row{
    margin: 0 -15px;
}
section, nav{
    display: flex;
    justify-content: center;
}
section{
    padding: 80px 0px;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #222222;
    padding-bottom: 30px;
}
h2{
    font-weight: bold;
    color: #222222;
    font-size: 45px;
    line-height: 1.24;
    padding-bottom: 30px;
}
.samebutton{
    padding: 15px 28px;
    border: 2px solid #1f5fc5;
    border-radius: 5px;
    color: #1f5fc5;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.72;
    transition: all 0.5s ease;
}
.samebutton i{
    padding-left: 5px;
}
.samebutton:hover{
    background-color: #1f5fc5;
    color: #fff;
}
@media screen and (max-width:992px) {
    section{
        padding: 50px 0px;
    }
    h2{
        font-size: 36px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:768px) {
    h2{
        font-size: 32px;
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:576px) {
    h2{
        font-size: 26px;
    }
    p{
        font-size: 16px;
    }
    .samebutton{
        padding: 10px 20px;
        font-size: 18px;
    }
}
/* ==========================End of common class================ */

/* ==========================Start of header====================*/
/* =========================Start of navtop===================== */
header{
    position: relative;
    display: flex;
    justify-content: center;
}
.nav-top{
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
}
.nav-top .container .row{
    display: flex;
    justify-content: center;
}
.nav-top ul{
    display: flex;
}
.nav-top a{
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    font-weight: 500;
    transition: all 0.5s ease;
}
.nav-top a:hover{
    color: black;
}
.part1 li{
    padding: 0px 13px;
}
.part2{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.part2 li{
    padding:0px 17px;
    text-align: center;
}
.part3{
    padding: 0 10px;
}
.part3 li{
    padding: 0px 10px;
}
@media screen and (max-width:1300px) {
    .part1 li{
        padding: 0px 8px;
    }
    .part2 li{
        padding:0px 10px;
    }
    .part3{
        padding: 0 8px;
    }
    .part3 li{
        padding: 0px 8px;
    }
}
@media screen and (max-width:1200px) {
    .part1 li{
        padding: 0px 2px;
    }
    .part2 li{
        padding:0px 5px;
    }
    .part3{
        padding: 0 4px;
    }
    .part3 li{
        padding: 0px 4px;
    }
}
@media screen and (max-width:1024px) {
    .nav-top{
        display: none;
    }
}
/* ===================End of nav-top================== */
/* ===================Start of navbar================= */
.navbar{
    position: absolute;
    top: 50px;
    background-color: #fff;
    border-radius: 10px;
}
.navbar .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 27px 33px 26px 25px;
}
.navbar .logo a{
    max-width: 287px;
}
.nav-menu ul{
    display: flex;
    padding: 0 15px;
}
.nav-menu li{
    padding: 0 26px;
    text-align: center;
}
.nav-menu a{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.nav-menu a:hover{
    color: #1f5fc5;
    text-decoration: underline;
}
.appointment a{
    padding: 13px 26px;
    background-color: #1f5fc5;
    color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid #1f5fc5;
    transition: all 0.5s ease;
}
.appointment a:hover{
    background-color: #fff;
    color: #1f5fc5;
}
.navbar .hamburger{
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;
    color: #1f5fc5;
    font-size: 22px;
    cursor: pointer;
}
@media screen and (max-width:1300px) {
    .navbar{
        width: 98%;
    }
    .nav-menu ul{
        display: flex;
        padding: 0 10px;
    }
    .nav-menu li{
        padding: 0 15px;
        text-align: center;
    }
}
@media screen and (max-width:1200px) {
    .navbar{
        top: 8px;
    }
    .navbar .container{
        padding: 20px 15px 20px 16px;
    }
    .nav-menu{
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .show_list{
        transition: all 0.5s ease;
        width: 100%;
        height: 280px;
        background-color: #1f5fc5;
        padding: 0px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .nav-menu ul{
        flex-direction: column;
        padding: 0 10px;
    }
    .nav-menu li{
        padding: 10px 0px;
        text-align: center;
    }
    .nav-menu li a{
        color:#ffffff;
    }
    .nav-menu li a:hover{
        color: #222222;
        text-decoration: underline;
    }
    .navbar .hamburger{
        display: block;
    }
    .appointment a{
        position: absolute;
        right: 55px;
        top: 18px;
    }
}
@media screen and (max-width:767.98px) {
    .navbar .logo a{
        max-width: 257px;
    }
}
@media screen and (max-width:575.98px) {
    .navbar .logo a{
        max-width: 230px;
    }
    .appointment a{
        padding: 10px 20px;
    }
    .navbar .hamburger{
        top: 22px;
    }
}
@media screen and (max-width:480px) {
    .navbar .logo a{
        max-width: 180px;
    }
    .appointment a{
        padding: 10px 10px;
        top: 15px;
    }
}
@media screen and (max-width:370px) {
    .navbar .logo a{
        max-width: 120px;
    }
    .appointment a{
        padding: 5px 10px;
        top: 14px;
        right: 50px;
    }
    .navbar .hamburger{
        top: 16px;
        right: 15px;
    }
}
/* =====================End of navbar================= */
/* =====================End of header================= */

/* =====================Start of main================= */
/* ====================Start of banner================ */
.banner{
    background-image: url(../images/banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 758px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 0;
}
.banner .container{
    display: flex;
    align-items: end;
    justify-content: center;
}
.banner .row{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.banner .col40{
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
    padding-bottom: 115px;
}
.banner .col40:nth-child(2){
    padding: 0 15px;
    margin-left: auto;
}
.banner h1{
    font-family: Satoshi-black;
    font-size: 72px;
    line-height: 1.14;
    color: #fff;
    margin-bottom: 30px;
}
.banner .designation{
    border: 1px solid #fff;
    font-size: 38px;
    font-weight: bold;
    max-width: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.97;
    padding: 20px 15px;
    color: #fff;
    margin-bottom: 20px;
}
.banner p{
    color: #fff;
    font-size: 26px;
    padding-bottom: 35px;
    line-height: 1.23;
}
.banner a{
    font-size: 18px;
    line-height: 1.72;
    padding: 15px 27px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
    border: 1px solid #fff;
    border-radius: 5px;
}
.banner a:hover{
    background-color: #1f5fc5;
    color: #fff;
}
@media screen and (max-width:1300px) {
    .banner .col40{
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 15px;
        padding-bottom: 115px;
    }
    .banner .col40:nth-child(2){
        max-width: 40%;
        flex: 0 0 40%;
        padding: 0 15px;
        margin-left: auto;
    }
}
@media screen and (max-width:1200px) {
    .banner h1{
        font-size: 65px;
    }
    .banner .col40:nth-child(2){
        max-width: 45%;
        flex: 0 0 45%;
        padding: 0 15px;
        margin-left: auto;
    }
}
@media screen and (max-width:992px) {
    .banner{
        min-height: 650px;
    }
    .banner h1{
        font-size: 52px;
    }
    .banner .col40{
        max-width: 50%;
        flex: 0 0 50%;
        padding-bottom: 50px;
    }
    .banner .designation{
        font-size: 32px;
        max-width: 300px;
        padding: 18px 10px;
    }
    .banner p{
        font-size: 24px;
        padding-bottom: 35px;
    }
}
@media screen and (max-width:768px){
    .banner .row{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner .col40{
        max-width: 80%;
        flex: 0 0 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner .col40:nth-child(2){
        max-width: 80%;
        flex: 0 0 80%;
        margin-left: 0;
    }
}
@media screen and (max-width:480px) {
    .banner h1{
        font-size: 42px;
        margin-bottom: 20px;
    }
    .banner .col40{
        max-width: 90%;
        flex: 0 0 90%;
    }
    .banner .designation{
        font-size: 28px;
        max-width: 300px;
        padding: 10px 10px;
    }
    .banner p{
        color: #fff;
        font-size: 18px;
        padding-bottom: 25px;
    }
}
@media screen and (max-width:370px) {
    .banner h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
}
/* ==============================End of banner====================== */

/* ===========================Start of about======================= */
.about{
    width: 100%;
}
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .col50{
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
    height: auto;
    position: relative;
}
.about .col50 img{
    height: 458px;
    border-radius: 20px;
}
.about .border{
    height: 450px;
    width: 95%;
    border: 1px solid #1f5fc5;
    border-radius: 15px;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: -1;
}
.about .col50:nth-child(2){
    padding-left: 70px;
}
@media screen and (max-width:1200px) {
    .about .col50:nth-child(2){
        padding-left: 40px;
    }
}
@media screen and (max-width:992px) {
    .about .row{
        flex-direction: column;
    }
    .about .col50{
        max-width: 80%;
        flex: 0 0 80%;
        text-align: center;
    }
    .about .col50 img{
        height: auto;
        border-radius: 20px;
        border: 1px solid #1f5fc5;
        padding: 10px;
        margin-bottom: 25px;
    }
    .about .border{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .about .col50{
        max-width: 90%;
        flex: 0 0 90%;
        text-align: center;
    }
}
@media screen and (max-width:576px) {
    .about .col50{
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
}
/* ========================End of about=================== */

/* =====================Start of expertise================ */
.expertise{
    background-color: #d4fffc;
}
.expertise .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expertise .heads{
    max-width: 40%;
    text-align: center;
}
.grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
}
.grid-item{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-item h3{
    padding: 15px 0px;
}
.grid-item p{
    padding: 0;
}
@media screen and (max-width:1200px) {
    .expertise .heads{
        max-width: 60%;
    }
    .grid-card{
        column-gap: 20px;
        row-gap: 20px;
    }
}
@media screen and (max-width:992px) {
    .grid-card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width:768px) {
    .expertise{
        padding: 50px 0px;
    }
    .grid-card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        margin-bottom: 50px;
    }
    .grid-item{
        padding: 15px;
    }
}
@media screen and (max-width:576px) {
    .expertise .heads{
        max-width: 80%;
    }
    .grid-card{
        grid-template-columns: 1fr 1fr;
        column-gap:10px;
        row-gap: 10px;
        margin-bottom: 20px;
    }
    .grid-item{
        padding: 15px;
    }
}
@media screen and (max-width:480px) {
    .expertise .heads{
        max-width: 90%;
    }
    .grid-card{
        grid-template-columns: 1fr;
        column-gap:10px;
        row-gap: 10px;
        margin-bottom: 20px;
    }
    .grid-item{
        padding: 15px;
    }
}
/* =====================End of expertise=================== */

/* ======================Start of booking============== */
.booking{
    width: 100%;
    background-color: #401c5e;
}
.booking .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking .row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking .col40{
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
}
.booking .col40:nth-child(1){
    background-color: #fff;
    border-radius: 20px;
    padding: 50px 40px;
    margin-left: 15px;
}
.booking .col40 h3{
    font-size: 36px;
    margin-bottom: 25px;
}
.booking input{
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 10px 15px;
}
input::placeholder{
    font-size: 12px;
    color: #4d4f64;
}
.booking select{
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 10px 15px;
    color: #4d4f64;
}
.booking option{
    font-size: 12px;
    color: #4d4f64;
}
.booking textarea{
    height: 135px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.315);
    padding: 10px 15px;
    color: #4d4f64;
    margin-bottom: 25px;
}
.booking form a{
    width: 100%;
    background-color: #1f5fc5;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.booking form a:hover{
    background-color: #fff;
    color: #1f5fc5;
}
.booking .col40:nth-child(2){
    padding-left: 80px;
}
.booking img{
    position: absolute;
    top: -80px;
    right: 0;
}
.booking h2,
.booking p{
    color: #fff;
}
.booking .col40:nth-child(2) a{
    border: 1px solid #fff;
    color: #fff;
}
@media screen and (max-width:1200px) {
    .booking .col40{
        max-width: 45%;
        flex: 0 0 45%;
    }
    .booking .col40:nth-child(2){
        padding-left: 40px;
    }
}
@media screen and (max-width:992px) {
    .booking .col40{
        max-width:50%;
        flex: 0 0 50%;
    }
    .booking{
        padding: 50px 0px;
    }
    .booking .col40:nth-child(1){
        padding: 40px 30px;
    }
    .booking .col40 h3{
        font-size: 28px;
        margin-bottom: 25px;
    }
    .booking .col40:nth-child(2){
        padding-left: 30px;
    }
}
@media screen and (max-width:768px) {
    .booking .row{
        flex-direction: column-reverse;
    }
    .booking .col40{
        max-width:80%;
        flex: 0 0 80%;
        text-align: center;
    }
    .booking .col40:nth-child(2){
        margin-bottom: 25px;
        padding: 0 15px;
    }
    .booking .col40:nth-child(1){
        margin-left: 0;
    }
    .booking img{
        display: none;
    }
}
@media screen and (max-width:480px) {
    .booking .col40{
        max-width:90%;
        flex: 0 0 90%;
        text-align: center;
    }
    .booking input{
        margin-bottom: 15px;
    }
    .booking select{
        margin-bottom: 15px;
    }
    .booking textarea{
        height: 105px;
        margin-bottom: 15px;
    }
    .booking .col40:nth-child(1){
        padding: 30px 20px;
        margin-left: 0;
    }
}
/* ==============================End of booking================= */
/* ===========================Start of treatment================ */
.treatment .container{
    position: relative;
    height: 100%;
    text-align: center;
}
.treatment .swiper{
    margin-bottom: 100px;
}
.treatment .swiper-slide{
    min-height: 535px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 29%, rgba(64,30,94,1) 100%),url(../images/treatment.png);
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: end;
}
.treatment .content{
    width: 85%;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    padding: 20px 20px 0px 20px;
    border-top-right-radius: 20px;
    text-align: start;
}
.treatment .content img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.treatment .content h3{
    font-size: 28px;
    line-height: 2;
    color: #222222;
}
.treatment .content p{
    padding-bottom: 15px;
}
.treatment .content a{
    color: #1f5fc5;
    border-bottom: 2px solid #1f5fc5;
}
.treatment .content a:hover{
    color: #222222;
}
.treatment .swiper-button-prev{
    position: absolute;
    left: 15px;
    top: 95%;
    color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;    
    --swiper-navigation-size: 23px;
    transition: all 0.5s ease;
    background-image: url(../images/arrow-left.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.treatment .swiper-button-next{
    position: absolute;
    color: transparent;
    left:7%;
    top: 95%;
    --swiper-navigation-size: 23px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.5s ease;
    background-image: url(../images/arrow-right.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.treatment .samebutton{
    position: absolute;
    right: 15px;
    bottom: -5px;
    background-color: #1f5fc5;
    color: #fff;
}
.treatment a:hover{
    background-color: #fff;
    color: #1f5fc5;
}
@media screen and (max-width:1024px) {
    .treatment .swiper-button-prev{
        left: 15px;
        top: 95%;
    }
    .treatment .swiper-button-next{
        left:10%;
        top: 95%;
    }
}
@media screen and (max-width:767px) {
    .treatment .content h3{
        font-size: 20px;
        line-height: 2;
        color: #222222;
    }
    .treatment .swiper-button-next{
        left:15%;
        top: 95%;
    }
}
@media screen and (max-width:480px) {
    .treatment .content h3{
        font-size: 20px;
        line-height: 2;
        color: #222222;
    }
    .treatment .swiper-button-next{
        left:22%;
        top: 95%;
        height: 40px;
        width: 40px;
    }
    .treatment .swiper-button-prev{
        height: 40px;
        width: 40px;
    }
    .treatment .samebutton{
        bottom: 0px;
    }
}
/* ====================End of treatment====================== */

/* ===================Start of choose========================*/
.choose{
    background-color: #d4fffc;
}
.choose .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose .col40{
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
}
.choose .col50{
    max-width: 50%;
    flex: 0 0 50%;
    padding-left: 25px;
    padding: 0 15px;
}
.choose h2 span{
    color: #1f5fc5;
}
.choose ul{
    margin-bottom: 25px;
}
.choose li{
    font-size: 18px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    text-align: start;
}
.choose li i{
    font-size: 28px;
    color: #1f5fc5;
    padding-right: 15px;
}
.choose a{
    background-color: #1f5fc5;
    color: #fff;
}
.choose a:hover{
    background-color: #fff;
    color: #1f5fc5;
}
@media screen and (max-width:1200px) {
    .choose .col40{
        max-width: 50%;
        flex: 0 0 50%;
    }
}
@media screen and (max-width:992px) {
    .choose li{
        font-size: 18px;
        padding: 8px 0px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width:768px) {
    .choose .row{
        flex-direction: column;
    }
    .choose .col40{
        max-width: 80%;
        flex: 0 0 80%;
        margin-bottom: 20px;
    }
    .choose .col50{
        max-width: 80%;
        flex: 0 0 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:576px) {
    .choose .row{
        flex-direction: column;
    }
    .choose .col40{
        max-width: 90%;
        flex: 0 0 90;
        margin-bottom: 20px;
    }
    .choose .col50{
        max-width: 90%;
        flex: 0 0 90%;
    }
}
@media screen and (max-width:370px) {
    .choose .col40{
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .choose .col50{
        max-width: 96%;
        flex: 0 0 96%;
    }
}
/* ===================End of chooose================ */

/* ==================Start of reviews================ */
.reviews{
    background-color: #401c5e;
}
.reviews h2{
    color: #fff;
    text-align: center;
}
.reviews .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews .swiper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
}
.reviews .swiper-slide{
    display: flex;
    justify-content: center;
}
.reviews .detail1{
    max-width: 40%;
    flex: 0 0 40%;
    color: #fff;
    padding-right: 100px;
    padding-top: 15px;
}
.reviews .detail1 p{
    color: #fff;
    padding-top: 15px;
}
.reviews .swiper-button-next{
    position: absolute;
    color:transparent;
    right: 80px;
    height: 60px;
    width: 60px;
    background-image: url(../images/swiperarrowright.jpg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.reviews .swiper-button-prev{
    position: absolute;
    color:transparent;
    left: 80px;
    height: 60px;
    width: 60px;
    background-image: url(../images/swiperarrow.jpg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.reviews .detail2{
    cursor: pointer;
}
.reviews .row{
    height: auto;
    display: flex;
    justify-content: center;
}
.reviews .col40{
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
    padding-right: 25px;
}
.rating{
    color: #fff;
}
.rating i{
    color: #fcbf55;
}
.reviews .col40 p{
    color: #fff;
    padding-bottom: 25px;
}
.reviews a{
    border:  1px solid #fff;
    color: #fff;
}
.reviews .col50{
    max-width: 60%;
    flex: 0 0 60%;
    padding: 0 15px;
}
.reviews .gridx{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.gridx .grid-image{
    height: 70px;
    width: 160px;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1300px) {
    .reviews .swiper-button-next{
        right: 20px;
    }
    .reviews .swiper-button-prev{
        left: 20px;
    }
}
@media screen and (max-width:992px) {
    .reviews .detail1{
        max-width: 40%;
        flex: 0 0 40%;
        color: #fff;
        padding-right: 50px;
        padding-top: 15px;
    }
    .reviews .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .reviews .col40{
        max-width: 80%;
        text-align: center;
        padding-right: 25px;
    }
    .reviews .col50{
        max-width: 100%;
        padding: 0 15px;
    }
}
@media screen and (max-width:768px) {
    .reviews .swiper-slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reviews .detail1{
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        padding-right: 50px;
        padding-top: 15px;
    }
    .reviews .detail1 img{
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:576px) {
    .reviews .gridx{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        row-gap: 0px;
    }
}
@media screen and (max-width:480px) {
    .reviews .row{
        padding-bottom: 50px;
    }
    .reviews .swiper-button-next{
        right: 5px;
        height: 30px;
        width: 30px;
    }
    .reviews .swiper-button-prev{
        left: 5px;
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width:370px) {
    .reviews .gridx{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .reviews .col40{
        max-width: 100%;
        text-align: center;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* ==================End of reviews==================== */

/* ==================Start of faqs===================== */
.faqs .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqs h2{
    text-align: center;
}
.faqs span{
    color: #1f5fc5;
}
.faqs .accordion_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accordion_row .col50{
    max-width: 48%;
}
.faqs .accordion_row .accordion-button{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #8a8c8fa9;
}
.faqs .accordion_row .accordion-button .accordion{
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
    padding: 15px 30px;
}
.faqs .accordion_row .accordion-button .active{
    background-color: #f3f5f8;
}
.accordion::after {
    content: '\002B';
    color:black;
    font-weight: bolder;
    font-size: 18px;
    margin-left: auto;    
    transition: all 0.5s ease;
}
.accordion.active::after {
    content: "\002D";
}
.panel {
    background-color: #f3f5f8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: relative;
    padding: 0 30px;
}
.panel p{
    font-size: 14px;
    line-height: 1.67;
    padding-bottom: 10px;
    color: #535f7a;
    padding-right: 30px;
    padding-bottom: 30px;
}
@media screen and (max-width:992px) {
    .faqs .accordion_row{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }
    .accordion_row .col50{
        max-width: 60%;
    }
}
@media screen and (max-width:768px) {
    .accordion_row .col50{
        max-width: 80%;
    }
}
@media screen and (max-width:576px) {
    .accordion_row .col50{
        max-width: 100%;
    }
}
/* ====================End of faqs======================= */

/* ====================Start of resources================ */
.resources{
    width: 100%;
    background-color: #d4fffc;
}
.resources .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resources span{
    color: #1f5fc5;
}
.resources .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resources .row .col50{
    width: 49%;
}
.resources .col50 .content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}
.resources .detail{
    padding-left: 15px;
}
.resources .detail p{
    padding: 0;
    color: #4d4f64;
}
.resources i{
    color: #4d4f64;
    font-size: 24px;
    position: absolute;
    right: 30px;
    border-left: 1px solid #4d4f646e;
    height: 80px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1024px) {
    .resources .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resources .row .col50{
        width: 100%;
    }
    .resources .content{
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:480px) {
    .resources .img1{
        height: 80px;
        width: 80px;
    }
    .resources .detail {
        padding-right: 70px;
    }
}
/* ====================STart of partners================== */
.partners .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners span{
    color: #1f5fc5;
}
.partners .swiper{
    height: 100%;
    width: 100%;
}
.partners .swiper-slide{
    height: 70px;
    width: 200px;
    border: 2px solid #4d4f645b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ====================End of partners======================= */

/* ====================End of main====================== */

/* ====================Start of footer================= */
footer{
    background-color: #401c5e;
}
footer .row{
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .logo{
    margin-bottom: 20px;
}
footer .col30{
    max-width: 30%;
    flex: 0 0 30%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
footer .col30 p{
    color: #fff;
}
footer .col30 a{
    color: #FFFF;
    margin-bottom: 15px;
}
footer .col30 a:hover{
    color: #1f5fc5;
}
footer .col30 a i{
    padding: 8px;
    background-color: #1f5fc5;
    border-radius: 50%;
}
footer .col30 a:hover i{
    background-color: #fff;
}
footer .col15 .list-head{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}
footer .col15{
    max-width: 15%;
    flex: 0 0 15%;
    padding: 0 15px;
}
footer .col15 li{
    padding-bottom: 20px;
}
footer .col15 li a{
    color: #c6bbcf;
    text-transform: capitalize;
    font-weight: normal;
    transition: all 0.5s ease;
}
footer .col15 li a:hover{
    color: #1f5fc5;
}
footer .col20{
    max-width: 22%;
    flex: 0 0 22%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
footer .col20 a{
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
}
footer .col20 a i{
    padding-right: 10px;
}
footer .footer-bottom{
    border-top: 1px solid #fff;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom a{
    color: #fff;
    transition: all 0.5s ease;
    text-align: center;
}
.footer-bottom .icons a{
    padding: 0 10px;
}
.footer-bottom a:hover{
    color: #1f5fc5;
}
@media screen and (max-width:992px) {
    footer .row{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    footer .col30{
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    footer .col15{
        max-width: 20%;
        flex: 0 0 20%;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    footer .col20{
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:768px) {
    footer .col30{
        max-width: 70%;
        flex: 0 0 70%;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer .col30 p{
        text-align: center;
    }
    footer .col15{
        max-width: 60%;
        flex: 0 0 60%;
        padding: 0 15px;
        text-align: center;
    }
    footer .col20{
        max-width: 70%;
        flex: 0 0 70%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom a{
        margin-bottom: 15px;
    }
}
@media screen and (max-width:576px) {
    footer .col30{
        max-width: 80%;
        flex: 0 0 80%;
    }
    footer .col15{
        max-width: 80%;
        flex: 0 0 80%;
    }
    footer .col20{
        max-width: 80%;
        flex: 0 0 80%;
    }
}
@media screen and (max-width:370px) {
    footer .col30{
        max-width: 90%;
        flex: 0 0 90%;
    }
    footer .col15{
        max-width: 90%;
        flex: 0 0 90%;
    }
    footer .col20{
        max-width: 90%;
        flex: 0 0 90%;
    }
}
/* =====================End of footer======================== */